@model MonsterService.Models.Monster

@{
    ViewBag.Title = "Monster Service Test";
}

<script language="javascript" type="text/javascript">
    function updateMonster() {
        $.getJSON('http://me.primaryobjects.com:17889/Monster?callback=?', function(data) { onComplete(data); });
    }

    function onComplete(data) {
        $('#content').html(data.Name);
    }
</script>

<div id="content">No monster. Click Create.</div>

<input type="button" value="Click" onclick="updateMonster();" />